/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.headerBlog {
	width: 100%;
	position: relative;
	@include box-shadow(inset 0 -2px 0 rgba(108, 108, 108, 0.5));
	&__container {
		height: 80px;
		@include max-width();
		@include flexCenter(space-between);
	}
	&__logo {
		width: 200px;
		padding-left: 1rem;
		@include flexCenter();
	}
	&__menu {
		width: 100%;
		height: 350px;
		position: absolute;
		top: 80px;
		left: -100%;
		z-index: 1;
		transition: 0.6s;
		background-color: $color-secondary;
		&__list {
			height: 80%;
			@include flexCenter(space-around);
			flex-direction: column;
			&__items a {
				color: $light;
			}
		}
	}
	&__menu.show {
		left: 0;
	}
	&__search {
		height: 20%;
		@include flexCenter();
		& .fas {
			font-size: fs(normal);
			margin: 0 10px;
			color: $light;
		}
	}
	&__dropdown {
		height: 40px;
		width: 60px;
		padding-right: 1rem;
		padding-left: 1.9rem;
		&__burger {
			position: relative;
			padding: 10px 0;
			&--line,
			&--line::before,
			&--line::after {
				width: 100%;
				height: 3px;
				display: block;
				border-radius: 20px;
				background-color: $black-light;
				transition: 0.6s;
			}
			&--line::before {
				content: '';
				position: absolute;
				top: 0;
			}
			&--line::after {
				content: '';
				position: absolute;
				bottom: 0;
			}
			&--line.active {
				transform: rotate(45deg);
			}
			&--line.active::before {
				transform: rotate(90deg);
			}
			&--line.active::after {
				display: none;
			}
		}
	}
}
