/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

// Responsive mixins
// Material Design breakpoints

@mixin tablet {
	@media only screen and (min-width: 768px) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: 1024px) {
		@content;
	}
}

@mixin large {
	@media only screen and (min-width: 1440px) {
		@content;
	}
}

// Centrar con flex

@mixin flexCenter($justify: center, $align: center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

// Centrar y dar un ancho máximo igual a $pagemaxwidth.
@mixin max-width($max-width: $pagemaxwidth) {
	width: 100%;
	margin: 0 auto;
	max-width: $max-width;
}

// .box-shadow(HORIZONTAL VERTICAL BLUR COLOR))
@mixin box-shadow($shadow: 0 1px 3px rgba(255, 255, 255, 0.5)) {
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

// .drop-shadow(HORIZONTAL, VERTICAL, BLUR, ALPHA);
@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
	-webkit-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
	-moz-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
	box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}

// .opacity(VALUE);
@mixin opacity($opacity: 0.5) {
	-webkit-opacity: $opacity;
	-moz-opacity: $opacity;
	opacity: $opacity;
}

// .transition(PROPERTY DURATION DELAY(OPTIONAL) TIMING-FINCTION);
@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

//
// Prefijos para todo
//
//   `@include vendor(border-radius, 4px);`
//
//
@mixin vendor($property, $value...) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}
